<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Привет всепоглощающая бездна</h1>
    <table style="border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid black;">Genre №</th>
            <th style="border: 1px solid black;">Genre name</th>
            <th style="border: 1px solid black;">Genre description</th>
          </tr>
        </thead>
        <tbody>
          {% for object in objects %}
            <tr>
              <td style="border: 1px solid black;">{{ object.pk }}</td>
              <td style="border: 1px solid black;">{{ object.name }}</td>
              <td style="border: 1px solid black;">{{ object.description }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3" style="border: 1px solid black;">No genres found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>